asgiref==3.10.0
cachetools==6.2.0
certifi==2025.10.5
charset-normalizer==3.4.3
convertdate==2.4.0
Django==4.2.7
django-csp==4.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
docopt==0.6.2
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
gunicorn==23.0.0
httplib2==0.31.0
idna==3.10
lunardate==0.2.2
num2words==0.5.14
oauthlib==3.3.1
packaging==25.0
pillow==11.3.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyJWT==2.10.1
pyluach==2.3.0
PyMeeus==0.5.12
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
reportlab==4.4.4
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
workalendar==17.0.0
django-cors-headers==4.7.0
pip==24.2.0